.fit{
    color: black;
    font-size: 100px;
}
.fits{
    color: rgb(252, 252, 252);
    font-size: 100px;
}
.p{
    color: black;
    font-size: 50px;
}
.ps{
    color: rgb(255, 255, 255);
    font-size: 50px;
}
